language: python
python:
  - '3.9'

install:
  - pip install --upgrade pip setuptools wheel
  - pip install pytest
  - pip install -e .

script:
  - python3 -m pytest

before_deploy:
  - pip install --upgrade build twine setuptools wheel

deploy:
  provider: script
  cleanup: false               
  on:
    branch: master             
  script:
    - echo "--- STARTING PACKAGE BUILD ---"
    - python3 -m build
    - echo "--- BUILD COMPLETE. CHECKING FILES ---"
    - ls -l dist/             
    - echo "--- STARTING TWINE UPLOAD ---"
    - python3 -m twine upload --repository-url https://test.pypi.org/legacy/ dist/* -u __token__ -p "$TEST_PYPI_TOKEN"
    - echo "--- UPLOAD ATTEMPT COMPLETE ---"
