language: python
python:
- '3.8'
install:
- pip install wheel pytest
- pip install -e .
- pip install twine
script:
- python -m pytest
deploy:
  provider: pypi
  username: "__token__"
  server: https://test.pypi.org/legacy/
  password:
    secure: REMOVED=
  skip_install: true
  skip_cleanup: true
