language: python
python:
- '3.9'
install:
- pip install wheel pytest
- pip install -e .
script:
- python -m pytest
before_deploy:
- pip install twine build
- python -m build
deploy:
  provider: pypi
  username: "__token__"
  server: https://test.pypi.org/legacy/
  password:
    secure: REMOVED=
  skip_cleanup: true
