language: python
python:
  - '3.9'

install:
  - pip install --upgrade pip setuptools wheel
  - pip install pytest
  - pip install -e .

script:
  - python3 -m pytest

before_deploy:
  - pip install --upgrade setuptools wheel build twine

deploy:
  provider: script
  skip_cleanup: true
  on:
    branch: master
  script:
    - python3 -m build
    - ls -l dist/
    - python3 -m twine upload --repository-url https://test.pypi.org/legacy/ dist/* -u __token__ -p "$TEST_PYPI_TOKEN"
