language: python
python:
  - '3.9'

branches:
  only: 
    - master 

install:
  - pip install --upgrade pip setuptools wheel
  - pip install pytest
  - pip install -e .

script:
  - python3 -m pytest

before_deploy:
  - pip install --upgrade setuptools wheel build twine

deploy:
  provider: script
  skip_cleanup: true
  on:
    branch: master
  script: |
    python3 -m build --sdist --wheel
    python3 -m twine upload --repository testpypi --non-interactive dist/* -u __token__ -p "$Test_PyPi_Token"
    # python3 -m twine upload --non-interactive dist/* -u __token__ -p "$PyPi_Token"
