language: python
python:
  - '3.9'

branches:
  only: 
    - master 

install:
  - pip install --upgrade pip setuptools wheel
  - pip install pytest
  - pip install -e .

script:
  - python3 -m pytest

before_deploy:
  - pip install --upgrade setuptools wheel build twine

deploy:
  provider: script
  skip_cleanup: true
  on:
    branch: master
  script: |
    python3 -m build --sdist --wheel
    python3 -m twine check dist/*
    echo "Variable check: PyPi_Token is ${#PyPi_Token} characters long."
    # ls -l dist/
    # python3 -m twine upload --repository-url https://pypi.org/legacy/ dist/* -u __token__ -p "$PyPi_Token"
