language: python
python:
- '3.9'
install:
- pip install wheel pytest
- pip install -e .
script:
- python -m pytest
deploy:
  provider: script
  script:
    - pip install twine build
    - python -m build
    - ls -l dist/     # <-- THIS WILL FORCE OUTPUT OR FAILURE
    - python -m twine upload --repository-url https://test.pypi.org/legacy/ dist/* -u __token__ -p "REMOVED="
  skip_cleanup: true
  on:
    branch: master
